In [1]:
# import libaraies
import pandas as pd

In [2]:
# import dataset
df = pd.read_csv('steam-200k.csv')

In [3]:
df.head(10)

   151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0  151603712  The Elder Scrolls V Skyrim      play  273.0  0
1  151603712                   Fallout 4  purchase    1.0  0
2  151603712                   Fallout 4      play   87.0  0
3  151603712                       Spore  purchase    1.0  0
4  151603712                       Spore      play   14.9  0
5  151603712           Fallout New Vegas  purchase    1.0  0
6  151603712           Fallout New Vegas      play   12.1  0
7  151603712               Left 4 Dead 2  purchase    1.0  0
8  151603712               Left 4 Dead 2      play    8.9  0
9  151603712                    HuniePop  purchase    1.0  0

In [4]:
# Identify duplicate rows
duplicates = df.duplicated()

In [5]:
# Print the duplicate rows
df[duplicates]

,151603712,The Elder Scrolls V Skyrim,purchase,1.0,0
1967,11373749,Sid Meier's Civilization IV,purchase,1.0,0
1969,11373749,Sid Meier's Civilization IV Beyond the Sword,purchase,1.0,0
1971,11373749,Sid Meier's Civilization IV Warlords,purchase,1.0,0
2723,56038151,Grand Theft Auto San Andreas,purchase,1.0,0
2725,56038151,Grand Theft Auto Vice City,purchase,1.0,0
...,...,...,...,...,...
194391,39146470,Sid Meier's Civilization IV Warlords,purchase,1.0,0
195516,48666962,Crysis 2,purchase,1.0,0
195820,112845094,Grand Theft Auto San Andreas,purchase,1.0,0
195822,112845094,Grand Theft Auto Vice City,purchase,1.0,0
195823,112845094,Grand Theft Auto III,purchase,1.0,0

In [6]:
# Drop duplicate rows
final_data = df.drop_duplicates()

In [7]:
# Print the updated DataFrame
print(final_data)

        151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0       151603712  The Elder Scrolls V Skyrim      play  273.0  0
1       151603712                   Fallout 4  purchase    1.0  0
2       151603712                   Fallout 4      play   87.0  0
3       151603712                       Spore  purchase    1.0  0
4       151603712                       Spore      play   14.9  0
...           ...                         ...       ...    ... ..
199994  128470551                 Titan Souls      play    1.5  0
199995  128470551  Grand Theft Auto Vice City  purchase    1.0  0
199996  128470551  Grand Theft Auto Vice City      play    1.5  0
199997  128470551                        RUSH  purchase    1.0  0
199998  128470551                        RUSH      play    1.4  0

[199292 rows x 5 columns]